<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hworld.base.dao.NoticeDAO">

	<sql id="search1">
		WHERE TITLE LIKE CONCAT('%', #{search}, '%') OR CONTENTS LIKE CONCAT('%', #{search}, '%')
	</sql>

	<select id="getTotalCount" parameterType="Pager" resultType="Long">
		SELECT COUNT(*) FROM NOTICE
		<include refid="search1"></include>
	</select>	
	
	<select id="getList" parameterType="Pager" resultType="NoticeVO">
		
		SELECT NUM, NOTICECHECK, TITLE, REGDATE, HIT FROM NOTICE
		<include refid="search1"></include>
		ORDER BY NOTICECHECK DESC, NUM DESC
		LIMIT #{startRow}, #{perPage}
	</select>
	
	<select id="getDetail" parameterType="BoardVO" resultType="NoticeVO">
		SELECT * FROM NOTICE
		WHERE NUM = #{num}
	</select>
	
	<insert id="setAdd" parameterType="BoardVO">
		INSERT INTO NOTICE (MEMBERNUM, NOTICECHECK, TITLE, CONTENTS, REGDATE, FILEPATH, HIT)
		VALUES (#{memberNum}, #{noticeCheck}, #{title}, #{contents}, NOW(), #{filePath}, 0)
	</insert>
	
	<update id="setBoardHitUpdate" parameterType="NoticeVO">
		UPDATE NOTICE SET HIT = HIT + 1 
		WHERE NUM = #{num}
	</update>
	
	

</mapper>