<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hworld.base.dao.QnaDAO">

	<insert id="setAdd" parameterType="QnaVO">
		INSERT INTO QNA (MEMBERNUM, SERIALNUM , TITLE, CONTENTS,  REGDATE, STATE, CATEGORYCODE)
		VALUES (#{memberNum}, #{serialNum, jdbcType=VARCHAR}, #{title}, #{contents}, NOW(), 0, #{categoryCode})
	</insert>
	
	<select id="getTelephoneList" parameterType="TelephoneVO" resultType="TelephoneVO">
		SELECT SERIALNUM, PHONENUM, DIRECTNAME FROM TELEPHONE
		WHERE MEMBERNUM = #{memberNum}
	</select>
	
	
</mapper>